@media screen and (min-width: 720px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-size: 16px; /* Adjust as needed for your design */
    overflow-x: hidden;
}
  body {
    background-color: black;
    background: fixed;
    background-image: url("../assets/home_page_pics/bg.jpg");
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-bottom: 50px;
  }
  #border {
    width: 90%;
    height: 6em;
    background-color: black;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 80px;
  }
  #title {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #back {
    font-size: 50px;
    color: white;
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    top: 15px;
    left: 20px;
    border: none;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .movie-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin-top: 5%;
  }

  .movie-image:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 720px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: black;
  }
  #border {
    width: 95%;
    height: 5em;
    background-color: black;
    border: 2px white solid;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #title {
    font-size: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }
  #back {
    font-size: 30px;
    position: absolute;
    background: transparent;
    color: white;
    top: 33px;
    left: 16px;
    border: transparent;
  }
  #animes1 {
    width: 100px;
    height: 300px;
    background-color: black;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    margin-left: 10px;
    padding-bottom: 30px;
  }

  .movie-image {
    width: 150px;
    height: 225px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin-top: 10%;
  }

  .movie-image:hover {
    transform: scale(1.1);
  }
}
