@media screen and (min-width: 720px) {
  * {
    margin: 0%;
    margin: 0%;
  }
  body {
    background-color: black;
    overflow-x: hidden;
    background: fixed;
    background-size: 100% 100%;
    animation: slider 10s linear infinite;
    overflow-y: scroll;
  }
  @keyframes slider {
    0% {
      background-image: url("../assets/pc_size_pics/2.jpg");
    }
    30% {
      background-image: url("../assets/pc_size_pics/4.jpg");
    }
    60% {
      background-image: url("../assets/pc_size_pics/6.jpg");
    }
    100% {
      background-image: url("../assets/pc_size_pics/8.jpg");
    }
  }
  #border {
    width: 90%;
    height: 6em;
    background-color: black;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 80px;
    position: fixed;
  }
  #title {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #back{
    font-size: 50px;
    color: white;
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    top: 15px;
    left: 20px;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin-top: 5%;
    /* column-gap: 2%; */
    /* margin-left: 2%; */
}

.movie-image:hover {
    transform: scale(1.1);
}

}
@media screen and (max-width: 720px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: black;
    animation: slimob 10s linear infinite;
    width: 100%;
    overflow-x: hidden;
    background: fixed;
    background-size: 100% 100%;
  }
  @keyframes slimob {
    0% {
      background-image: url("../assets/small_size_pics/bg-mobile/Another.jpg");
    }
    30% {
      background-image: url("../assets/small_size_pics/bg-mobile/Ace_of_diamond.jpg");
    }
    60% {
      background-image: url("../assets/small_size_pics/bg-mobile/Fullmetal_Alchemist.jpg");
    }
    100% {
      background-image: url("../assets/small_size_pics/bg-mobile/Psycho_pass.jpg");
    }
  }
  #border {
    width: 95%;
    height: 5em;
    background-color: black;
    border: 2px white solid;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 40px;
  }
  #title{
    font-size: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }
  #back{
   font-size: 30px;
   position: absolute;
   background: transparent;
   color: white;
   top: 65px;
   left: 20px;
   border: transparent;
   
  }
  #animes1{
   width: 100px;
   height: 300px;
   background-color: black;
  }
}
