@media screen and (min-width:720px) {
    
body {

    background-image: url("../assets/pc_size_pics/IWTEYP.jpg");
    background-size: 103%;
    background-repeat: no-repeat;
}

#form {
    position: absolute;
    top: 30%;
    left: 30%;
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 45%;
    height: 500px;
    background-color: transparent;
}

#email {
    width: 60%;
    height: 2.5rem;
    position: absolute;
    top: 35%;
    left: 18%;
    border-radius: 20px;
    opacity: 0.5;
    font-size: 30px;
}

#password {
    width: 60%;
    height: 2.5rem;
    position: absolute;
    top: 58%;
    left: 18%;
    border-radius: 20px;
    opacity: 0.5;
    font-size: 30px;
}

#lab1 {
    position: absolute;
    top: 4.5em;
    left: 5em;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    position: absolute;
    left: 40%;
}
#lab2 {
    font-size: 30px;
    position: absolute;
    top: 8.5em;
    left: 4.8em;
}
p{
    position: absolute;
    top: 86%;
    left: 35%;
    font-size: 20px;
}
#submit {
    width: 20%;
    height: 10%;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    top: 12em;
    left: 36%;
}

#signup {
    width: 20%;
    height: 10%;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    color: blueviolet;
}
}

@media screen and (max-width:720px) {
    body {
        background-color: black;
        background-image: url("../assets/small_size_pics/YN_LogP.png");
        background-size: 105%;
        background-repeat: no-repeat;
    }

    #form {
        position: absolute;
        top: 20%;
        left: 15%;
        border: 1px black solid;
        width: 70%;
        height: 60%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        
    }

    #email {
        border-radius: 30px;
        position: absolute;
        border: 1px solid black;
        width: 80%;
        height: 1.9rem;
        top: 33%;
        left: 8%;
        font-size: 20px;
        opacity: 0.75;
    }

    #password {
        border-radius: 30px;
        border: 1px solid black;
        position: absolute;
        top: 55%;
        left: 8%;
        width: 80%;
        height: 1.9rem;
        font-size: 20px;
        opacity: 0.75;
    }

    #lab1 {
        position: absolute;
        top: 28%;
        left: 10%;
        font-size: 20px;
    }

    #lab2 {
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 20px;
    }

    h1 {
        position: absolute;
        font-size: 40px;
        left: 25%;
        top: 50px;
    }

    #submit {
        position: absolute;
        top: 70%;
        left: 15%;
        width: 70%;
        height: 8%;
        border-radius: 30px;
    }

    #signup {
        position: absolute;
        top: 80%;
        left: 15%;
        width: 70%;
        height: 8%;
        border-radius: 30px;
    }
}