@media screen and (min-width: 720px) {
  body {
    background-image: url("../assets/home_page_pics/login.jpg");
    background-size: 103%;
    background-repeat: no-repeat;
  }
  .container {
    display: flex;
    gap: 20px;
  }

  .form-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-top: 15%;
    margin-left: 20%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 40px;
    letter-spacing: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    font-size: 14px;
    color: red;
    margin: 0;
  }
  #togglePassword {
    position: absolute;
    top: 479px;
    left: 1095px;
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    width: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #togglePassword:hover {
    border: 0.5px solid black;
    border-radius: 5px;
  }
  #new-user{
    margin-left: 37%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  a {
    color: #007bff;
    text-decoration: none;
    margin-left: 3%;

  }
}
@media screen and (max-width: 720px) {
  body {
    background-color: black;
    background-image: url("https://sm.mashable.com/t/mashable_me/photo/default/1_d4u5.720.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
    color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    font-size: 14px;
    color: red;
    margin: 0;
  }
}
