@media screen and (min-width:720px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        margin: 0;
        padding: 0;
        background-image: url("../assets/pc_size_pics/JJK.jpg");
        background-repeat: no-repeat;
        background-size: 103%;
        
    }
    #form{
        border: 1px solid black;
        width: 800px;
        height: 500px;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        position: absolute;
        top: 18em;
        left: 35em;
    }
    h1{
        position: absolute;
        top: 1%;
        left: 25%;
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
    #lab1{
        font-size: 30px;
        position: absolute;
        top: 25%;
        left: 20%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #lab2{
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 20%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #email{
        width: 60%;
        height: 3em;    
        position: absolute;
        top: 32%;    
        left: 20%;
        border-radius: 20px;
        opacity: 0.5;
        border: fixed;
        font-size: large;
        border: 5px green solid;
    }
    #password{
        width: 60%;
        height: 3em;    
        position: absolute;
        top: 57%;    
        left: 20%;
        border-radius: 20px;
        opacity: 0.5;
        font-size: large;
        border: 5px green solid;
    }
    #submit{
        width: 25%;
        height: 10%;
        position: absolute;
        top: 75%;
        left:35%;
        border-radius: 30px;
        font-size: 30px;
        border: 2px solid red;
    }
    #sp1{
        display: none;
        position: absolute;
        top: 225px;
        left: 63%;
    }
    #sp2{
        display: none;
        position: absolute;
        top: 350px;
        left: 58%;
        color: green;
    }
    #togglePassword{
        position: absolute;
        top: 60%;
        left: 75%;
        background-color: black;
        border-radius: 30px;
        padding: 5px;
        cursor: grab;
    }
}
   @media screen and (max-width:720px){
    body{
        background-color: black;
        background-image: url("../assets/small_size_pics/bg-mobile/DN_New.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
    }
    h1{
        position: absolute;
        left: 20%;
        top: 5%;
        font-family: Arial, Helvetica, sans-serif;
    }
    #form{
        position: absolute;
        left: 15%;
        top: 28%;
        width: 70%;
        height: 40vh;
        border-radius: 30px;
        backdrop-filter: blur(10px);
    }
    #email{
        position: absolute;
        top: 34%;
        left: 10%;
        width: 80%;
        height: 7%;
        opacity: 0.5;
        border-radius: 30px;
        font-size: 15px;
        border: 5px green solid;
    }
    #password{
        position: absolute;
        top: 57%;
        left: 10%;
        width: 80%;
        height: 7%;
        opacity: 0.5;
        border-radius: 30px;
        font-size: 15px;
        border: 5px green solid;
    }
    #lab1{
       position:absolute;
       top: 28%;
       left: 14%;
       font-family: Arial, Helvetica, sans-serif;
    }
    #lab2{
       position:absolute;
       top: 51%;
       left: 14%;
       font-family: Arial, Helvetica, sans-serif;
    }
    #submit{
        position: absolute;
        top:75%;
        left: 28%;
        width: 40%;
        height: 10%;
        font-size: 20px;
        border-radius: 30px;
         border: 2px solid red;
    }
    #sp1{
        display: none;
        position: absolute;
        top: 220px;
        left: 30%;
    }
    #sp2{
        display: none;
        position: absolute;
        top: 340px;
        left: 30%;
        color: green;
    }
    #togglePassword{
        position: absolute;
        top: 57.5%;
        left: 82%;
        background-color: black;
        border-radius: 30px;
        padding: 5px;
        cursor: grab;
    }
   }