@media screen and (min-width:720px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        margin: 0;
        padding: 0;
        background-image: url("../assets/pc_size_pics/JJK.jpg");
        background-repeat: no-repeat;
        background-size: 103%;
        
    }
    #form{
        border: 1px solid black;
        width: 800px;
        height: 500px;
        backdrop-filter: blur(15px);
        border-radius: 30px;
        position: absolute;
        top: 18em;
        left: 35em;
    }
    h1{
        position: absolute;
        left: 25%;
        font-size: 70px;
    }
    #lab1{
        font-size: 30px;
        position: absolute;
        top: 35%;
        left: 20%;
    }
    #lab2{
        font-size: 30px;
        position: absolute;
        top: 55%;
        left: 20%;
    }
    #email{
        width: 60%;
        height: 3em;    
        position: absolute;
        top: 42%;    
        left: 20%;
        border-radius: 20px;
        opacity: 0.5;
        border: fixed;
        font-size: large;
    }
    #password{
        width: 60%;
        height: 3em;    
        position: absolute;
        top: 62%;    
        left: 20%;
        border-radius: 20px;
        opacity: 0.5;
        font-size: large;
    }
    #submit{
        width: 25%;
        height: 10%;
        position: absolute;
        top: 80%;
        left: 38%;
        border-radius: 30px;
        font-size: 30px;
    }
}
   @media screen and (max-width:720px){
    body{
        background-color: black;
        background-image: url("../assets/small_size_pics/DN_New.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
    }
    h1{
        position: absolute;
        left: 20%;
        top: 5%;
    }
    #form{
        position: absolute;
        left: 15%;
        top: 28%;
        width: 70%;
        height: 40vh;
        border-radius: 30px;
        backdrop-filter: blur(10px);
    }
    #email{
        position: absolute;
        top: 34%;
        left: 10%;
        width: 80%;
        height: 7%;
        opacity: 0.5;
        border-radius: 30px;
        font-size: 2rem;
    }
    #password{
        position: absolute;
        top: 54%;
        left: 10%;
        width: 80%;
        height: 7%;
        opacity: 0.5;
        border-radius: 30px;
        font-size: large;
    }
    #lab1{
       position:absolute;
       top: 28%;
       left: 14%;
    }
    #lab2{
       position:absolute;
       top: 48%;
       left: 14%;
    }
    #submit{
        position: absolute;
        top: 70%;
        left: 28%;
        width: 40%;
        height: 10%;
        font-size: 20px;
        border-radius: 30px;
    }
   }