@media screen and (min-width: 720px) {
  body {
    background-color: rgb(33, 33, 33);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    background: fixed;
    background-color: black;
    background-size: 100% 100%;
    /* animation: slider 10s linear infinite; */
  }
  /* @keyframes slider {
    0% {
      background-image: url("../assets/pc_size_pics/2.jpg");
    }
    30% {
      background-image: url("../assets/pc_size_pics/4.jpg");
    }
    60% {
      background-image: url("../assets/pc_size_pics/6.jpg");
    }
    100% {
      background-image: url("../assets/pc_size_pics/8.jpg");
    }
  } */
  #search{
    background-color: transparent;
    width: 30%;
    height: 80px;
    position: absolute;
    top: 25px;
    left: 34% ;
  }
  #search-bar {
    width: 70%;
    height: 2em;
    font-size: x-large;
    opacity: 0.7;
    border-radius: 30px;
    position: absolute;
    top: 20%;
   background-color: black;
   border: 5px white solid;
   color: white;
  }
  #search-btn {
    width: 10%;
    height: 4.3em;
    border-radius: 50px;
    position: absolute;
    top: 17%;
    left: 75%;
    z-index: -1;
    background-color: aquamarine;
  }
  #btn_img {
    position: absolute;
    top: -5%;
    left: 71%;
  }
  #header {
    width: 100%;
    height: 6em;
    background-color: black;
    border-bottom: 2px white solid;
    position: fixed;
    z-index: 5;
    left: -1px;
    padding-top: 30px;
    top: 0%;
  }
  #logo {
    position: absolute;
    top: 15px;
    left: 2%;
    border-radius: 50px;
  }
  #title {
    position: absolute;
    left: 8%;
  }
  #id-name {
    position: absolute;
    right: 6%;
    font-size: 50px;
    color: white;
    top: 1px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #id-img {
    width: 3.5%;
    height: 4rem;
    border-radius: 30px;
    border: 2px white solid;
    position: absolute;
    top: -10px;
    left: 95%;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    user-select: none;
  }
  #logout{
    position: absolute;
    color: white;
    left: 94%;
    font-size: 30px;
    background-color: black;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    top: 90%;
    display: none;
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 2%;
    width: 95%;
    height: 450px;
    overflow: hidden;
    background: black;
    border: 2px white solid;
  }
  
  .image-container {
    display: flex;
    position:absolute;
    left: 40%;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-image {
    width: 280px;
    height: 400px;
    margin: 0 10px;
    opacity: 0.2;
    transform: scale(0.8);
    transition: transform 0.5s, opacity 0.5s;
  }
  .carousel-image:hover{
    transform: scale(1.1);

  }
  
  .carousel-image.center {
    transform: scale(1);
    opacity: 1;
  }
  
  .carousel-image.left, .carousel-image.right {
    transform: scale(0.9);
    opacity: 0.5;
  }
  #title1 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 70%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #hone {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #title2 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 120%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #htwo {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #title3 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 170%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #hthree {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #title4 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 220%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #hfour {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #title5 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 270%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #hfive {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #title6 {
    background-color: black;
    color: black;
    height: 5em;
    width: 100%;
    position: absolute;
    top: 320%;
    left: -2px;
    /* border-radius: 30px; */
    border: 2px red solid;
  }
  #hsix {
    color: white;
    position: absolute;
    left: 80px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #see_more {
    background-color: black;
    color: black;
    height: 5em;
    width: 90%;
    position: absolute;
    top: 380%;
    left: 80px;
    border-radius: 30px;
    border: 2px green solid;
  }
  #w-more {
    text-decoration: none;
    font-size: 50px;
    position: absolute;
    top: 15px;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  #footer {
    background-color: black;
    color: black;
    height: 8em;
    width: 100%;
    position: absolute;
    top: 420%;
    left: -2px;
    border: 2px white solid;
  }
  #empty {
    background-color: transparent;
    height: 5em;
    width: 90%;
    position: absolute;
    top: 370%;
    left: 80px;
    border-radius: 30px;
    margin-bottom: 50px;
  }
  #f-hone {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 15%;
  }
  #link-one {
    color: red;
    font-size: 25px;
    position: absolute;
    top: 47px;
    left: 65%;
  }
  #link-two {
    color: red;
    font-size: 25px;
    position: absolute;
    top: 47px;
    left: 80%;
  }
  .video-btn{
    width: 250px;
    margin-left: 10px;
    border: 2px solid gray;
    transition: transform 0.3s ease;
    height: 350px;
    margin-right: 15px;
  }
   .video-btn:hover{
    transform: scale(1.1);
   }
  .show_more {
    position: absolute;
    top: 12px;
    left: 92.4%;
    padding: 15px;
    background-color: gray;
    color: white;
    border: 2px solid blue;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
  }
  #cat1{
    position: absolute;
    top: 82%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  #cat2{
    position: absolute;
    top: 132%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  #cat3{
    position: absolute;
    top: 182%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  #cat4{
    position: absolute;
    top: 232%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  #cat5{
    position: absolute;
    top: 282%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  #cat6{
    position: absolute;
    top: 332%;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
}
@media screen and (max-width: 720px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: black;
    animation: slimob 10s linear infinite;
    width: 100%;
    overflow-x: hidden;
    background: fixed;
    background-size: 100% 100%;
  }
  @keyframes slimob {
    0% {
      background-image: url("../assets/home_page_pics/Ace_bg.jpg");
    }
    30% {
      background-image: url("../assets/home_page_pics/Another.jpg");
    }
    60% {
      background-image: url("../assets/home_page_pics/Fullmetal_Alchemist.jpg");
    }
    100% {
      background-image: url("../assets/home_page_pics/Psycho_pass.jpg");
    }
  }
  #header {
    width: 120%;
    background-color: black;
    height: 7em;
    /* border-radius: 30px; */
    border-bottom: 2px solid white;
    position: absolute;
    /* left: 2%; */
  }
  #logo {
    position: absolute;
    border-radius: 50px;
    width: 15%;
    top: 13px;
    left: 7px;
  }
  #title {
    width: 60%;
    position: absolute;
    top: 25px;
    left: 18%;
  }
  #id-name {
    display: none;
  }
  #id-img {
    position: absolute;
    top: 2  0px;
    left: 85%;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    border: 2px white solid;
    width: 12%;
    text-align: center;
    padding-bottom: 2px;
    font-size: 50px;
  }
  #logout{
    position: absolute;
    color: white;
    top: 70%;
    left: 83%;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    display: none;
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 1%;
    width: 115%;
    height: 320px;
    overflow: hidden;
    background: black;
    border: 2px white solid;
  }
  
  .image-container {
    display: flex;
    position:absolute;
    left: 30%;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-image {
    width: 180px;
    height: 280px;
    margin: 0 10px;
    opacity: 0.2;
    transform: scale(0.8);
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .carousel-image.center {
    transform: scale(1);
    opacity: 1;
  }
  
  .carousel-image.left, .carousel-image.right {
    transform: scale(0.9);
    opacity: 0.5;
  }

  #search-bar {
    position: absolute;
    background-color: black;
    color: white;
    top: 113%;
    width: 80%;
    border: 2px red solid;
    height: 2.5em;
    left: 10%;
    border-radius: 30px;
    font-size: 25px;
    opacity: 0.7;
    /* display: none; */
  }

  #search-btn {
    position: absolute;
    top: 113%;
    width: 13%;
    height: 65px;
    left: 77.6%;
    border-radius: 50px;
    background-color: green;
  }
  #btn_img {
    position: absolute;
    top: 100%;
    left: 74%;
  }
  #title1 {
    position: absolute;
    top: 70%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #hone {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #cat1{
    position: absolute;
    top: 90%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  /* .greatest {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: flex;
    /* width: 250px; */
    /* margin-left: 10px; */
    /* border: 2px solid gray; */
    /* border-radius: 10px; */
    /* transition: transform 0.3s ease; */
    /* height: 340px; */
    /* margin-right: 15px; */
    /* border: 2px white solid ; */
  /* }
  .greatest:hover{
    transform: scale(1.1);
  } */ 
  #title2 {
    position: absolute;
    top: 134%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #title3 {
    position: absolute;
    top: 200%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #title4 {
    position: absolute;
    top: 265%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #title5 {
    position: absolute;
    top: 330%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #title6 {
    position: absolute;
    top: 395%;
    left: 3%;
    width: 115%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid red;
  }
  #htwo {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #hthree {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #hfour {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #hfive {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #hsix {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 20px;
    left: 30px;
  }
  #cat2{
    position: absolute;
    top: 155%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  /* .action {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: flex;
     border: 2px white solid ;
  } */
  #cat3{
    position: absolute;
    top: 220%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  /* .ls {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: flex;
    border: 2px white solid ; 
  } */
  #cat4{
    position: absolute;
    top: 285%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
 /* .sf {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: flex;
     border: 2px white solid ;
  } */
  #cat5{
    position: absolute;
    top: 350%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  /* .hrr {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    display: flex;
    border: 2px white solid ;
  } */
  #cat6{
    position: absolute;
    top: 415%;
    width: 120%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 4%;
  }
  /* .sport {
    width: 100%;
    height: 300px;
   
    display: none;
  } */

  #see_more {
    position: absolute;
    top: 460%;
    left: 6%;
    width: 107%;
    background-color: black;
    height: 80px;
    border-radius: 30px;
    border: 2px solid green;
  }
  #w-more {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 30px;
    left: 20%;
    text-decoration: none;
    font-size: 20px;
  }
  #footer {
    position: absolute;
    top: 483%;
    left: -0.5%;
    width: 120%;
    background-color: black;
    height: 100px;
    border: 2px solid white;
  }
  #f-hone {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 30px;
    left: 10%;
    font-size: 15px;
  }
  #link-one {
    position: absolute;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    top: 55px;
    left: 20%;
    font-size: 15px;
  }
  #link-two {
    position: absolute;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    top: 55px;
    left: 60%;
    font-size: 15px;
  }
  .show_more {
    position: absolute;
    top: 22px;
    color: white;
    left: 80%;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 5px;
    text-decoration: none;
  }
  /* .greatest-img,
  .action-img,
  .ls-img,
  .sf-img,
  .horror-img,
  .sport-img {
    width: 200px;
    margin-left: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 300px;
    margin-right: 15px;
  } */
  /* .greatest-img:hover,
  .action-img:hover,
  .ls-img:hover,
  .sf-img:hover,
  .horror-img:hover,
  .sport-img:hover{
    transform: scale(1.1);
  } */

  .video-btn{
    width: 200px;
    margin-left: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 300px;
    margin-right: 15px;
  }
}
