body{
    background-color: rgb(33, 33, 33);
    width: 100%;
    overflow-x: hidden;
    background: fixed;
    background-size: 100% 100% ;
    animation: slider 10s linear infinite;
}
@keyframes slider{
    0%{background-image: url("../assets/pc_size_pics/AOT.jpg");}
    30%{background-image: url("../assets/pc_size_pics/Sukuna.png");}
    60%{background-image: url("../assets/pc_size_pics/DS.jpg");}
    100%{background-image: url("../assets/pc_size_pics/AOT_2.jpg");}
}
#search{
    font-size: 30px;
    width: 3.2%;
    height: 2em;
    border-radius: 30px;
    position: absolute;
    left: 92%;
    top: 15%;
}
#btn_img{
    position: absolute;
    top: 125px;
    right: 70px;
    color: white;
    padding-top: 20px;
}
#search-bar{
    width: 20%;
    height: 2.5em;
    border-radius: 30px;
    opacity: 0.75;
    position: absolute;
    top: 15%;
    left:70%;
    font-size: larger;
}
#idname{
    position: absolute;
    width: 25%;
    height: 7%;
    color: black;
    background-color: white;
    left: 70%;
    border-radius: 30px;
    text-align: center;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}
#idimage{
    background-color: black;
    position: absolute;
    width: 3.5%;
    height: 4em;
    left: 91%;
    top: 58.5px;
    border-radius: 50px;
}