@media screen and (min-width: 720px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  body {
    background-color: black;
  }
  #terms {
    background-color: white;
    overflow-y: scroll;
    width: 40%;
    height: 700px;
    position: absolute;
    top: 15%;
    border-radius: 10px;
    scrollbar-width: none;
    left: 30%;
    transition: linear;
  }

  #head1 {
    position: fixed;
    left: 35%;
    top: 155px;
    font-size: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }
  #first {
    margin-top: 10%;
    margin-left: 35%;
  }
  #second {
    margin-top: 2%;
    margin-left: 35%;
  }
  #agree {
    background-color: red;
    position: absolute;
    width: 20%;
    height: 50px;
    border-radius: 20px;
    margin: 50px 0px 50px 35%;
  }
}
@media screen and (max-width: 720px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  body {
    background-color: black;
  }
  #terms {
    background-color: white;
    overflow-y: scroll;
    width: 90%;
    height: 640px;
    position: absolute;
    top: 5%;
    border-radius: 10px;
    scrollbar-width: none;
    left: 5%;
    transition: linear;
  }
  #head1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-size: 30px;
  }
  .content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
  }
  #first,
  #second {
    text-align: center;
    margin-top: 20px;
  }
  #agree {
    width: 35%;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 30px;
  }
  #agree:hover{
    transform: scale(1);
  }
}
